{% extends 'youtubetracker/base.html' %}
{% block content %}



<h1>Report:</h1>
<br></br>
<canvas id="myChart" width="1200" height="300"></canvas>
<br></br>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Total List of Videos By: {{ viewby }} (All Time) </th>
      <th>Marketer</th>
      <th>Community</th>
      <th>Cost</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
  	{% if videolist %}
    {% for videos in videolist %}
      <tr>
        <td><a href="{% url 'youtubetracker:detail' videos.id %}">{{ videos.title }}</td>
        <td><a href="{% url 'youtubetracker:marketerdetail' videos.marketer %}">{{ videos.marketer }}</a></td>
        <td>{{ videos.community }}</td>
        <td>{{ videos.cost }}</td>
        <td>{{ videos.language }}</td>
      </tr>
    {% endfor %}
    {% else %}
    <p>No videos are available.</p>
	{% endif %}
  </tbody>
</table>

{% if videolist.has_other_pages %}
  <ul class="pagination">
    {% if videolist.has_previous %}
      <li><a href="?page={{ videolist.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in videolist.paginator.page_range %}
      {% if videolist.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if videolist.has_next %}
      <li><a href="?page={{ videolist.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    
{% endblock %}